/* 全局样式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('C:\Users\yixia\Documents\WeChat Files\wxid_ta2uyd2e1gdy22\FileStorage\Video\2024-10\5e1a475192c73b67a7a002162bab8666.jpg'); /* 自定义背景图片 */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333;
}

header {
  background-color: rgba(51, 51, 51, 0.8); /* 半透明背景 */
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* 使内容居中 */
}

.game-list {
  display: flex;
  justify-content: center;
  gap: 40px; /* 增加间距 */
  flex-wrap: wrap;
}

.game-card {
  background-color: rgba(255, 255, 255, 0.9); /* 半透明背景 */
  border: none;
  border-radius: 15px; /* 圆角 */
  padding: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.game-icon {
  font-size: 960px;
  margin-bottom: 10px;
}

footer {
  background-color: rgba(51, 51, 51, 0.8); /* 半透明背景 */
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}