body {  
    font-family: Arial, sans-serif;  
    text-align: center;  
    background-image: url('/gamehome/image/background/backwei.jpg');  
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  

    margin: 0;  
    padding: 0;  
    overflow: auto;  
} 
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 85%; 
}

h1 {
    font-size: 2.5em;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #555;
}
