/* 全局样式 */  
body {  
  font-family: Arial, sans-serif; /* 设置字体类型 */  
  margin: 0; /* 移除默认的 body 外边距 */  
  padding: 0; /* 移除默认的 body 内边距 */  
  background-image: url("/gamehome/image/background/agqb2-xumyx.png"); /* 设置背景图片路径 */  
  background-size: cover; /* 确保背景图片覆盖整个容器 */  
  background-position: center; /* 居中显示背景图片 */  
  background-attachment: fixed; /* 固定背景图片，防止随内容滚动 */  
  color: #333; /* 设置默认文字颜色为深灰色 */  
}  

header {  
  background-color: rgba(51, 51, 51, 0.8); /* 半透明的深灰色背景 */  
  color: #fff; /* 文字颜色为白色 */  
  padding: 20px; /* 添加内边距 */  
  text-align: center; /* 文字居中对齐 */  
}  

main {  
  padding: 20px; /* 添加内边距 */  
  display: flex; /* 使用 flex 布局 */  
  justify-content: center; /* 水平居中对齐 */  
  align-items: center; /* 垂直居中对齐 */  
  min-height: 80vh; /* 设置最小高度为视口高度的 80% */  
  flex-direction: column; /* 屏幕居中 */ 
}  

.game-list {  
  display: flex;  
  justify-content: center;  
  gap: 40px; /* 增加按钮之间的间距到80px */  
  flex-wrap: wrap;  
  width: 100%; /* 确保按钮容器宽度占满main */ 
  margin-top: -350px; 
}  

.game-card {  
  display: flex; /* 使用 flex 布局 */  
  justify-content: center; /* 水平居中对齐 */  
  align-items: center; /* 垂直居中对齐 */  
}  

.game-btn {  
  /* 按钮样式 */  
  background-color: rgba(255, 255, 255, 0.9); /* 半透明的白色背景 */  
  border: none; /* 移除默认的按钮边框 */  
  border-radius: 15px; /* 设置按钮的圆角 */  
  padding: 20px 40px; /* 设置按钮的内边距 */  
  cursor: pointer; /* 鼠标悬停时显示手形光标 */  
  transition: all 0.3s ease; /* 设置过渡动画，平滑过渡所有属性 */  
  width: 150px; /* 设置按钮宽度 */  
  height: 150px; /* 设置按钮高度 */  
  font-size: 25px; /* 设置按钮文字大小 */  
  display: flex; /* 使用 flex 布局 */  
  justify-content: center; /* 水平居中对齐 */  
  align-items: center; /* 垂直居中对齐 */  
  margin: 0; /* 移除默认的按钮外边距 */  
  box-sizing: border-box; /* 允许 padding 和 border 内减 */ 
  color: #FF1493; /* 粉色文字颜色 */  
  font-weight: bold; /* 加粗文字 */  
}  

.game-btn:hover {  
  /* 按钮悬停状态 */  
  background-color: rgba(255, 255, 255, 0.7); /* 降低背景不透明度 */  
  transform: translateY(-5px); /* 向上移动 5px */  
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */  
}  

footer {  
  background-color: rgba(51, 51, 51, 0.8); /* 半透明的深灰色背景 */  
  color: #fff; /* 文字颜色为白色 */  
  text-align: center; /* 文字居中对齐 */  
  padding: 10px; /* 添加内边距 */  
  position: fixed; /* 固定定位 */  
  bottom: 0; /* 固定在底部 */  
  width: 100%; /* 宽度为 100% */  
}  
